.pot {
    position: relative;
    width: 120px;
    height: 80px;
    border: 5px solid #ff0000;
    border-radius: 0 0 30px 30px;
}

.handle {
    position: absolute;
    top: 30px;
    left: -20px;
    width: 20px;
    height: 20px;
    border: 4px solid #f30707;
    border-right: none;
    border-radius: 20px 0 0 20px;
}

.lid {
    position: absolute;
    top: -25px;
    left: -10px;
    width: 140px;
    height: 25px;
    border: 5px solid #ff0000;
    border-radius: 25px;
    animation: lidMove 1.5s ease-in-out infinite;
    transform-origin: center bottom;
}

/* Steam */
.steam {
    position: absolute;
    top: -50px;
    width: 10px;
    height: 30px;
    border-radius: 50%;
    background: rgba(244, 15, 15, 0.4);
    animation: steamUp 1.5s infinite ease-in-out;
}

.steam-1 {
    left: 30px;
    animation-delay: 0s;
}

.steam-2 {
    left: 55px;
    animation-delay: 0.3s;
}

.steam-3 {
    left: 80px;
    animation-delay: 0.6s;
}

.loading-text {
    margin-top: 15px;
    font-size: 18px;
    color: #e11414;
    font-weight: 600;
}

/* Animations */
@keyframes lidMove {

    0%,
    100% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-15px) rotate(-8deg);
    }
}

@keyframes steamUp {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
