/* Thin scrollbar */
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.5);
  border-radius: 9999px;
}

/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: rgba(100, 116, 139, 0.5) transparent;
}
