@import "tailwindcss";
/* Enable class-based dark mode (Tailwind v4) */
@custom-variant dark (&:where(.dark, .dark *));
/* Hide scrollbar but allow scroll */


.scrollbar-hide {
  overflow: auto;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

/* Edge / IE */
.scrollbar-hide {
  -ms-overflow-style: none;
}


@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-scaleIn {
    animation: scaleIn 0.2s ease-out;
}
